  <!-- Begin container -->
<div class="container registerct">
    <div class="register">
        <h2>Đăng ký</h2>
        <form method="post" class="register-form" action="/Account/RegisterPost">
            <div class="register-form-feild">
                <label for="">Họ và tên</label>
                <input class="name" type="text" placeholder="Nhập họ tên của bạn tại đây" name="Name" required>
                <small></small>
            </div>
            <div class="register-form-feild">
                <label for="">Số điện thoại</label>
                <input class="mobi" type="text" placeholder="Nhập số điện thoại của bạn tại đây" name="Phone" required>
                <small></small>
            </div>
            <div class="register-form-feild">
                <label for="">Địa chỉ</label>
                <input class="address" type="text" placeholder="Nhập số địa chỉ của bạn tại đây" name="Address" required>
                <small></small>
            </div>
            <div class="register-form-feild">
                <label for="">Email</label>
                <input class="email" type="text" placeholder="Nhập email của bạn tại đây" name="Email" required>
                <small></small>
            </div>
            <div class="register-form-feild">
                <label for="">Mật khẩu</label>
                <input class="password" type="password" placeholder="Nhập mật khẩu của bạn tại đây" name="Password" required>
                <small></small>
            </div>
            <div class="register-form-feild">
                <label for="">Xác nhận mật khẩu</label>
                <input class="password-confirm" type="password" placeholder="Nhập mật khẩu của bạn tại đây" required>
                <small></small>
            </div>
            <button type="submit" class="bnt-register">Đăng ký</button>
        </form>
    </div>


</div>

<!-- End container -->