
<div class="container">
    <div class="pagination">
        <h2>TIN TỨC</h2>
        <span>Home</span><span>  >   </span><span><a href="/News">Tin Tức</a></span>
    </div>
    <div class="middle" style="margin: 40px;">
        <!-- chi tiet -->
        <h2 style="padding:10px 0px 20px;">@Html.Raw(Model.Description)</h2>
        @Html.Raw(Model.Content)
        <!-- chi tiet -->
    </div>
</div>